* {
    box-sizing: border-box;
}

.main {
    background-color: #F9F9F9;
}

.logo {
    background-image:url(img/Logo.png);
    height: 108px;
    width: 36px;
    background-repeat: no-repeat;
    height: 37px;
    width: 108px;
    justify-content: space-between;
}

.header {
    width: 1242px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header_menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_menu-item a {
    text-decoration: none;
    color: black;
    line-height: 20px;
    font-size: 18px;
    font-style: normal;   
}

.header_menu-item a:hover {
    color: brown;
    transition: all 0.5s;
}

.header_menu-item:hover {
    transition: all 1s ease;
    transform: translateY(-2px);
}

.header_menu-item {
    margin-right: 32px;
}

.header_menu-item:last-child {
    margin-right: 0;
}

body {
    margin: 0;
    padding: 0;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes qqq {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0px);
    }
}

.logo:hover {
    animation-name: qqq;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.footer {
    width: 1140px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 48px;

}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #9A9EA6;
}

.footer a:hover {
    color: #696a6d;
    transition: all 0.3s ease;
}

.footer-top_intro {
    color: #9A9EA6;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.footer-bottom_menu {
    display: flex;
    width: 501px;
    justify-content: space-between;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top_contacts {
    width: 457px;
}

.footer .logo {
    margin-bottom: 16px;
}

.footer-top_intro {
    margin-bottom: 32px;
    line-height: 24px;
}

span {
    color: #4475F2;
    font-weight: bold;
}

.footer-top_information-item {
    margin-bottom: 20px;
}

.footer-top_information-item:last-child {
    margin-bottom: 0;
}

.footer-top_information-item a {
    padding-left: 26px;
    position: relative;
}

.footer-top_information-item a::before {
    content: "";
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
}

.footer-top_information-item:nth-child(1) a::before {
   background-image: url(/img/Telephone.svg);
}

.footer-top_information-item:nth-child(2) a::before {
    background-image: url(/img/Mail.svg);
}

.footer-top_information-item:nth-child(3) a::before {
    background-image: url(/img/Address.svg);
}

.footer-top_information-item:nth-child(4) a::before {
    background-image: url(/img/Fax.svg);
}

.footer-top_menus {
    width: 506px;
    display: flex;
    justify-content: space-around;
}

.footer-top_about-title, .footer-top_support-title, .footer-top_FAQ-title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

.menu-items_column {
    font-size: 14px;
    line-height: 18px;
}

.menu-items_column li {
    margin-bottom: 20px;
}

.menu-items_column li:last-child {
    margin-bottom: 0;
}

.thingsNeedToDo {
    width: 1242px;
    height: 484px;
    margin: 0 auto;
    background-image: url("img/plane.svg");
    background-repeat: no-repeat;
    background-position: 926px 12px;
}

.to_do {
    color: #FA7436;
}

.thingsNeedToDo_title h2 {
    text-align: center;
    line-height: 52px;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.thingsNeedToDo_title p {
    line-height: 32px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 63px auto;
    max-width: 400px;
    width: 100%;
}

.thingsNeedToDo_cards {
    display: flex;
    justify-content: space-between;
}

.thingsNeedToDo_cards h2 {
    position: relative;
    padding-top: 80px;
}

.card {
    width: 397px;
    height: 278px;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid  rgba(102, 102, 102, 0.08);
    padding: 45px 42px 40px 42px;
}

.main {
    padding-top: 42px;
    margin-bottom: 52px;
}

.thingsNeedToDo_card_signUp h2::before {
    content: "";
    height: 35px;
    width: 51px;
    position: absolute;
    background-image: url("img/sign.svg");
    background-repeat: no-repeat;
    top: 0;
}

.thingsNeedToDo_card_signUp{
    background-image: url("img/signline.svg");
}

.thingsNeedToDo_card_worth h2::before {
    content: "";
    height: 35px;
    width: 51px;
    position: absolute;
    background-image: url("img/worth.svg");
    background-repeat: no-repeat;
    top: 0;
}

.thingsNeedToDo_card_worth {
    background-image: url("img/worthline.svg");
}

.thingsNeedToDo_card_travel h2::before {
    content: "";
    height: 35px;
    width: 51px;
    position: absolute;
    background-image: url("img/travel.svg");
    background-repeat: no-repeat;
    top: 0;
}

.thingsNeedToDo_card_travel {
    background-image: url("img/travelline.svg");
}









